body {
background: url("assets/background.jpg");
color: #fff;
font-family: 'IBM Plex Mono';
font-size: 20px;
letter-spacing: 2px;
}
img {
border-radius: 50%;
border: 3px solid black;
}
.profile-picture {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
height: 200px;
max-width: 200px;
}
.profile-name {
font-size: 30px;
text-align: center;
padding: 30px;
color: #FF6633;
}
.links {
text-align: center;
margin-top: 20px;
padding: 20px;
border: 1px solid black;
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
}
a {
text-decoration: none;
color: #FF6633;
transition: color 1s;

}
.bottom-text {
text-align: center;
margin-top: 40px;
font-size: 20px;
font-weight: bold;
}
a:hover {
color: #000;
background: #fff;
opacity: .5;
}
